<div>
  <div>
    <nav>
        <!-- logo -->
         <a href="">
          <img src="" alt="">
         </a>
         <!-- menu -->
          <div>
            <ul>
              <li>
                <a href="">
                  Inicio
                </a>
              </li>
              <li>
                <a href="">
                  Reserva
                </a>
              </li>
              <li>
                <a href="">
                  Contacto
                </a>
              </li>
            </ul>
            <!-- contact form  -->
             <div>
                <form action="">
                   <input type="text" name="Buscar" placeholder="Buscar">
                   <button>
                      <i></i>
                   </button>

                </form>
             </div>
          </div>
    </nav>
  </div>
</div>

