<div class="ptb-100">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12">
           <div class="left-sidebar">
            <div class="single-widget">
              <h3>Buscar aquí</h3>
              <form>
                 <input type="text" class="form-control" placeholder="Buscar">
                 <button type="submit" class="src-btn">
                    <i class="ri-search-line move-icon"></i>
                 </button>
              </form>
            </div>
            <div class="single-widget">
              <h3>Precio</h3>
              <select class="form-select">
                <option selected>$100</option>
                <option value="1">$200</option>
                <option value="2">$300</option>
                <option value="3">$400</option>
                <option value="4">$500</option>
              </select>

            </div>

           </div>

        </div>
        <div class="col-lg-9 col-md-12">
           <div class="hotels-listing">
            <ul class="d-flex justify-content-between sorting">
              <li>
                <span>30 hoteles</span>
              </li>
              <li>
                <select class="form-select">
                  <option selected>Ordenado por defecto</option>
                  <option value="1">Mayor a menor precio</option>
                  <option value="2">Menor a mayor precio</option>
                </select>
              </li>
            </ul>
            <ul class="hotels-list">
               <li class="single-hotel-box">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-xl-5 col-lg-12 col-sm-12">
                        <a class="d-block">
                          <img src="images/hotels/hotel1.jpg" width="300" height="300">
                         </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-7">
                        <div class="content">
                          <h3>
                            <a>
                              Hotel California
                            </a>
                          </h3>
                           <p>Los Ángeles 322, California</p>
                           <div class="rating">
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-half-fill"></i>
                           </div>
                           <p>4.8/5 Maravilloso (100 reviews)</p>
                           <div class="price">$200 <span>Por noche</span></div>
                           <a class="default-btn">Reservar</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-5">
                       <ul class="info">
                         <li>
                           <i class="ri-wifi-line"></i>
                           Wifi gratis
                         </li>
                         <li>
                           <i class="ri-roadster-line"></i>
                           Parking gratis
                         </li>
                         <li>
                           <i class="ri-snowflake-line"></i>
                           Aire Acondicionado
                         </li>
                         <li>
                           <i class="ri-restaurant-2-line"></i>
                           Restaurante
                         </li>
                         <li>
                           <i class="ri-riding-line"></i>
                           Gym
                        </li>
                       </ul>

                    </div>
                  </div>
               </li>
               <li class="single-hotel-box">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-xl-5 col-lg-12 col-sm-12">
                        <a class="d-block">
                          <img src="images/hotels/hotel2.jpg" width="300" height="300">
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-7">
                        <div class="content">
                          <h3>
                            <a>
                              Hotel Transilvania
                            </a>
                          </h3>
                           <p>
                              Los angeles 322, California
                           </p>
                           <div class="rating">
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-half-fill"></i>
                           </div>
                           <p>4.8/5 Maravilloso (100 reviews)</p>
                           <div class="price">$200 <span>Por noche</span></div>
                           <a href="" class="default-btn">Reservar</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-5">
                       <ul class="info">
                         <li>
                           <i class="ri-wifi-line"></i>
                           Wifi Gratis
                         </li>
                         <li>
                           <i class="ri-roadster-line"></i>
                           Parking gratis
                         </li>
                         <li>
                           <i class="ri-snowflake-line"></i>
                           Aire Acondicionado
                         </li>
                         <li>
                           <i class="ri-restaurant-2-line"></i>
                           Restaurante
                         </li>
                         <li>
                           <i class="ri-riding-line"></i>
                           Gym
                        </li>
                       </ul>
                    </div>

                  </div>


               </li>
               <li class="single-hotel-box">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-xl-5 col-lg-12 col-sm-12">
                        <a class="d-block">
                          <img src="images/hotels/hotel4.jpg" width="300" height="300">

                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-7">
                        <div class="content">
                          <h3>
                            <a href="">
                              Hotel California
                            </a>
                          </h3>
                           <p>
                              Los angeles 322, California
                           </p>
                           <div class="rating">
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-fill"></i>
                             <i class="ri-star-half-fill"></i>
                           </div>
                           <p>4.8/5 Maravilloso (100 reviews)</p>
                           <div class="price">$200 <span>Por noche</span></div>
                           <a href="" class="default-btn">Reservar</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-5">
                       <ul class="info">
                         <li>
                           <i class="ri-wifi-line"></i>
                           Wifi Gratis
                         </li>
                         <li>
                           <i class="ri-roadster-line"></i>
                           Parking gratis
                         </li>
                         <li>
                           <i class="ri-snowflake-line"></i>
                           Aire Acondicionado
                         </li>
                         <li>
                           <i class="ri-restaurant-2-line"></i>
                           Restaurante
                         </li>
                         <li>
                           <i class="ri-riding-line"></i>
                           Gym
                        </li>
                       </ul>
                    </div>

                  </div>
               </li>
            </ul>
           </div>

        </div>
      </div>
  </div>
</div>

