.left-sidebar {
  background-color: #f9f9f9 ;
  border-radius: 5px;
  padding: 25px;
  .single-widget {
    border-bottom: 1px solid rgba(124,105,125);
    padding: {
          right: 25px;
          left: 25px;
          bottom: 25px;
    }
    margin: {
      right: -25px;
      left: -25px;
      bottom: 25px;
    };
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    form {
      position: relative;
      .form-control {
          background-color: var(--whiteColor);
          height: 54px;
          padding-left: 40px;
      }
      .src-btn {
          top: 14px;
          padding: 0;
          left: 17px;
          border: none;
          position: absolute;
          background-color: transparent;
          transition: var(--transition);
          &:hover {
            color: var(--primaryColor);
          }

      }

    }
    .form-select {
        height: 54px;
        cursor: pointer;
        border-radius: 5px;
        color: var(--blackColor);
        font-size: var(--fontSize);
        border: 1px solid #e5e5e5;
        box-shadow: unset !important;
        transition: var(--whiteColor);
        background-color: var(--whiteColor);
        padding: {
          right: 20px;
          left: 30px;
        };
        &:focus {
          border-color: var(--primaryColor);
          &::placeHolder {
            color: transparent;
          }
        }
    }
  }
}

.hotels-listing {
  padding-right: 10px;
  .sorting {
    padding-right: 0;
    margin-bottom: 30px;
    list-style-type: none;
    li {
      .form-select {
        border: none;
        cursor: pointer;
        box-shadow: none;
        margin-bottom: -3px;
        padding: 0 30px 3px 22px;
        color: var(--paragraphColor);
        background: {
          position: right 0 center;
          color: transparent;

        }
      }
    }
  }
}
