<div class="ptb-100">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <!-- side bar -->
           <div class="left-sidebar">
            <div class="single-widget">
              <h3>Buscar aquí</h3>
              <form>
                 <input type="text" class="form-control" placeholder="Buscar">
                 <button type="submit" class="src-btn">
                    <i class="ri-search-line"></i>
                 </button>
              </form>
            </div>

            <div class="single-widget">
              <h3>Precio</h3>
              <select class="form-select" name="" id="">
                <option selected>$100</option>
                <option value="1">$200</option>
                <option value="2">$300</option>
                <option value="3">$400</option>
                <option value="4">$500</option>
              </select>
            </div>
           </div>


        </div>
        <div class="col-lg-9 col-md-12">
          <!-- hotels list -->

        </div>
      </div>
  </div>
</div>
