:root {
  --primaryColor: #924dff;
  --paragraphColor: #696969;
  --whiteColor: #ffffff;
  --blackColor: #2f3045;
  --secondaryColor: #ff5b4f;
  --transition: .5s;
  --fontSize: 16px;
}


.bg-f3f7ff {
  background-color:  #f3f7ff ;
}
